html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background:  #0a142f
}
.loginbtn{
  background: #1A5CE5;
}
.signupbtn{
  background: #243047;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* In your App.css */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.container-fluid, .row, .row > div {
  height: 100%;
}

.plain-background {
  background:  #070e21;
  /* color: black;  */
}
.modal-header .btn-close {
  color: white; /* Set the color to white */
}
.socod {
  font-size: 11vw;
  color: #d4eaff;
  text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
  -webkit-animation: buzz 0.01s infinite alternate;
          animation: buzz 0.01s infinite alternate;
}
.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px rgb(255, 208, 0),
    0 0 80px rgb(255, 208, 0),
    0 0 90px rgb(255, 208, 0),
    0 0 100px rgb(255, 208, 0),
    0 0 150px rgb(255, 208, 0);
}

.neon-text {
  color: #fff; /* White text color */
  text-shadow:
    0 0 5px #08f, /* Blue glow */
    0 0 10px #08f, /* More intense blue */
    0 0 20px #08f, /* Even more intense blue */
    0 0 30px #08f, /* Outermost blue glow */
    0 0 40px #08f; /* Optional: even more glow */
}
.neon-text-yellow {
  color: #000; /* White text color */
  font-weight: 600;
  text-shadow:
    0 0 5px #ff0, /* Yellow glow */
    0 0 10px #ff0, /* More intense yellow */
    0 0 20px #ff0, /* Even more intense yellow */
    0 0 30px #ff0, /* Outermost yellow glow */
    0 0 40px #ff0; /* Optional: even more glow */
}
.neon-text-pink {
  color: #000; /* Black text color */
  text-shadow:
    0 0 5px #ffb6c1, /* Light pink glow */
    0 0 10px #ffb6c1, /* More intense light pink */
    0 0 20px #ffb6c1, /* Even more intense light pink */
    0 0 30px #ffb6c1, /* Outermost light pink glow */
    0 0 40px #ffb6c1; /* Optional: even more glow */
}
.white-shadow-text {
  color: #000; /* Black text color */
  font-weight: 600; /* Semi-bold font */
  text-shadow: 2px 2px 2px #fff; /* White text shadow */
}
/* Ensure footer is not pushing content up */
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
/* .sidebar{

} */
.list-group-item:hover{
  background-color:#0062ff;
  color: #ffe6e6 !important;
}
.gradient_background {
  background: linear-gradient(90deg, #0062ff, #da61ff);
}

.gradient_background_reverse {
  background: linear-gradient(90deg, #5d2782, #0062ff);
}

.normal_background {
  background: linear-gradient(90deg, #0062ff, #da61ff);
}

@media (max-width: 992px) {
  .gradient_background,
  .gradient_background_reverse {
    height: auto;
    padding: 20px;
  }
  .navbar .navbar-brand span.h4 {
    font-size: 1.5rem; /* Adjust the size as needed */
  }
  .navbar .ms-auto div span.h4 {
    font-size: 1.5rem; /* Adjust the size as needed */
  }
}

@media (max-width: 768px) {
  .navbar-toggler {
    margin-right: auto;
  }
  .navbar .navbar-brand,
  .navbar .ms-auto {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar .ms-auto .btn {
    margin-top: 0.5rem;
  }
}

/* Assuming this is part of App.css */

.gradient_background_dashboard {
  background: linear-gradient(
    180deg,
    #0062ff,
    #da61ff
  ); /* Adjusted the direction */
  min-height: 100vh;
}
.gradient_background_dashboard_withoutheight {
  background: linear-gradient(
    180deg,
    #0062ff,
    #da61ff
  );
}
.navbar_dashboard {
  margin-bottom: 1rem;
}

.card {
  background-color: #ffffff;
  /* Add more styling here as per your design requirements */
}

.toggle-button + .card {
  cursor: pointer;
  /* Add more custom styles if needed */
}

.toggle-button + .card .card-body {
  padding: 0.5rem 1rem; /* Adjust padding to match card style */
  /* Add other styles to match your design */
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* OrderDetails.css */
.text-light {
  color: #f8f9fa;
}

.bg-dark {
  background-color: #343a40 !important;
}

.bg-secondary {
  background-color: #6c757d !important;
}

.table.table-bordered {
  background-color: #212529;
  border-color: #32383e;
}

.table.table-bordered th,
.table.table-bordered td {
  border-color: #32383e;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}