

    .gradient_background {
        background: linear-gradient(90deg, #0062ff, #da61ff);
       
      }

      .gradient_background_reverse {
        background: linear-gradient(90deg, #5D2782, #0062ff);
     
      }

      .normal_background {
        background: linear-gradient(90deg, #0062ff, #da61ff);
      }

      @media (max-width: 992px) {
        .gradient_background, .gradient_background_reverse {
          height: auto;
          padding: 20px;
        }
        .navbar .navbar-brand span.h4 {
          font-size: 1.5rem; /* Adjust the size as needed */
      }
      .navbar .ms-auto div span.h4 {
          font-size: 1.5rem; /* Adjust the size as needed */
      }
      }

      @media (max-width: 768px) {
        .sidebar {
          width: 100%; /* Full width on smaller screens */
        }
        .navbar-toggler {
          margin-right: auto;
      }
      .navbar .navbar-brand,
      .navbar .ms-auto {
          flex-direction: column;
          align-items: flex-start;
      }
      .navbar .ms-auto .btn {
          margin-top: 0.5rem;
      }
      }






      /* Assuming this is part of signup.css */

.gradient_background_dashboard {
  background: linear-gradient(180deg, #0062ff, #da61ff); /* Adjusted the direction */
  min-height: 100vh;
}

.navbar_dashboard {
  margin-bottom: 1rem;
}

.card {
  background-color: #ffffff;
  /* Add more styling here as per your design requirements */
}


